<div class="turnInfoDiv" [ngStyle]="this.playerTurnStyle">
    {{playerTurnText}}
</div>
<div class="buttons" *ngIf="this.isButtonEnable">
    <div *ngFor="let column of [0,1,2,3,4,5,6]">
        <button *ngIf="buttonEnabled(column)" class="add-fragment-button" [style.left.px]="column*50"
            (click)="clickToAddFragment(column)">
        </button>
    </div>
</div>

<button class="buttons btn btn-primary" (click)="setUpGame()" *ngIf="this.isEndGame">
    Nowa Gra
</button>

<div class="buttons text-center" *ngIf="this.isComputerMove">
    Ruch Komputera
</div>

<div class="rectangle">

    <div *ngFor="let fragment of this.board.fragments" [style.top.px]="positionTop(fragment)"
        [style.left.px]="positionLeft(fragment)" class="white-dot">
        <div>
            <!-- <ng-container *ngIf="fragment.row == 5 && fragment.column == 0 || fragment.row == 3 && fragment.column == 3" > -->
            <ng-container>
                <div class="player-dot moving-dot" [ngStyle]="styleOfFragemnt(fragment)">
                </div>
            </ng-container>
        </div>
    </div>

</div>