.dot {
    height: 40px;
    width: 40px;
    top: 300px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    position: relative;
  }

  .moving-dot {
    z-index: -1;
    top: 0px;
    -webkit-transition: top 2s ease 0s; /* Safari */
    transition: top 2s ease 0s;
    //animation-name: example;
    //animation-duration: 4s;
  }

  .white-dot {
    height: 50px;
    width: 50px;
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    z-index: 2;
  }

  .player-dot {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    position: absolute;
  }

  @keyframes example {
    from {top: -50px}
    to {top: 0px}
  }

  .rectangle {
    position: relative;
    left:100px;
    top:150px;
    height: 300px;
    width: 350px;
    background-color: #555;
    color: red;
    z-index: 1;
  }

  .add-fragment-button{
    position: absolute;
    background-color: greenyellow;
    width:50px;
    height:50px;
    top: 0px;
  }

  .buttons{
    position: relative;
    left:100px;
    top:50px;
    width:350px;
    height:50px;
  }

  .turnInfoDiv {
    margin-top: 5%;
    position: relative;
    left:100px;
    top:0px;
    text-align: center;
    width:350px;
    font-size: 30px;
  }

  .myCard {
    margin-left:25%;
    margin-left:calc(50% - 275px);
    width:550px;
    height:600px;
    margin-top: 5%
  }