<div *ngIf="this.gameStated" class="card myCard">
    <button type="button" class="btn btn-primary backButton" (click)="backToMenu()">Wróć do Menu</button>

    <app-board-component [gameVersion]="this.version" [timeout]="this.timeout" [startingPlayer]="this.startingPlayer">

    </app-board-component>
</div>


<div *ngIf="!this.gameStated" class="card cardBground text-center" style="width: 30%; margin-left: 35%; margin-top: 5%">
     <div class="buttons">

        <label class="mainLabel">Wybierz tryb gry:</label>

        <div>
            <input type="radio" id="twoPlayers" name="gameVersionRadios" (change)="selectVersion(0)">
            <label for="twoPlayers">{{this.twoPlayers}}</label>
        </div>

        <div>
            <input type="radio" id="redPlayer" name="gameVersionRadios" checked (change)="selectVersion(-1)">
            <label for="redPlayer">{{this.redVsComputer}}</label>
        </div>

        <div>
            <input type="radio" id="yellowPlayer" name="gameVersionRadios" (change)="selectVersion(1)">
            <label for="yellowPlayer">{{this.yellowVsComputer}}</label>
        </div>

        <div>
            <label for="timeoutInput">Tiemout:</label>
            <input [(ngModel)]="timeout" id="timeoutInput" type="number" min=1 step="0.1">
        </div>

        <label class="mainLabel">Rozpoczynający gracz:</label>
        
        <div>
            <input type="radio" id="yellowStart" name="startingColorRadios" (change)="selectStartPlayer(1)">
            <label for="yellowStart">Żółty</label>
        </div>

        <div>
            <input type="radio" id="redStart" name="startingColorRadios" (change)="selectStartPlayer(-1)" checked>
            <label for="redStart">Czerwony</label>
        </div>

        <button type="button" class="btn btn-primary myButton" (click)="startGame()">
            {{this.startGameText}}
        </button>
    </div>
</div>