.buttons {
    margin: 5%;
    display: inline-grid;
    align-content: center;
}

.myButton {
    align-self: center;
    width: 100%;
    padding: 20px;
}

.mainLabel {
    margin: 0;
}

label {
    margin: 15px;
    font-size: 20px;
}

input[type=radio] {
    -ms-transform: scale(2); /* IE 9 */
    -webkit-transform: scale(2); /* Chrome, Safari, Opera */
    transform: scale(2);
}

input[type=number] {
    width:10%;
}

.myCard {
    margin-left:25%;
    margin-left:calc(50% - 275px);
    width:550px;
    height:600px;
    margin-top: 5%;
  }

.backButton{
    position: fixed;
    top:10px;
    left:10px;
}